<!--<div class="statistic">-->
<div>
  <ng-container [formGroup]="_statisticForm">
    <mat-form-field>
      <mat-label>Начания от</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="fromDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <!--                    <mat-error *ngIf="_newIngredientPartForm.controls['expirationDate'].invalid">{{error}}</mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <mat-label>Заканчивая</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="toDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <!--                    <mat-error *ngIf="_newIngredientPartForm.controls['expirationDate'].invalid">{{error}}</mat-error>-->
    </mat-form-field>
  </ng-container>
  <button mat-stroked-button [disabled]="_statisticForm.invalid" (click)="getStatistic()"> Получить статистику</button>
</div>
  <div>
    Выручка {{this.statistic.revenue}}
  </div>
  <div class="result">


    <div class="missing-ingredients-table-container">
      <table mat-table [dataSource]="usedIngredients">
        <caption>Использованные ингредиенты</caption>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Название</th>
          <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}}</td>
        </ng-container>
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Количество</th>
          <td mat-cell *matCellDef="let ingredient"> {{ingredient.count}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      <!--  <mat-paginator showFirstLastButtons [pageSize]='5' [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>-->
    </div>

    <div class="missing-ingredients-table-container">
      <table mat-table [dataSource]="soldDishes">
        <caption>Проданные блюда</caption>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Название</th>
          <td mat-cell *matCellDef="let dish"> {{dish.name}}</td>
        </ng-container>
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Количество</th>
          <td mat-cell *matCellDef="let dish"> {{dish.count}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      <!--  <mat-paginator showFirstLastButtons [pageSize]='5' [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>-->
    </div>
  </div>
<!--</div>-->
